<% layout("../layouts/boilerplate") -%>

<body>

    
     
    
     
<div class="row">
     <div class="col-8 offset-2">
          <h3>Edit your Listing :</h3>
          <form method="post"  action="/listings/<%=listing.id%>/edit?_method=PATCH" class="needs-validation" enctype="multipart/form-data" novalidate >

               <div class="mb-3">
                    <label for="title" class="form-label"> Title </label>
                    <input type="text" name="listing[title]" class="form-control" value="<%=listing.title%>" required>
                    <div class="valid-feedback">
                         Title looks Good
                    </div>
                    <div class="invalid-feedback">
                         Title should be Valid
                    </div>
               </div>
          
               <div class="mb-3">
                    <label for="decription" class="form-label">Description</label>
                    <textarea class="form-control" rows="5" name="listing[description]" ><%=listing.description%> required</textarea>
               
               <div class="invalid-feedback">
                    enter a valid Description
               </div>
               
               <div class="valid-feedback">
                    Description looks Good
               </div>
               
               </div>
               Original Listing Image
               <div class="mb-3">
                  <img src=" <%= originalImageUrl %>"  style="width: 400px; "  alt="">
               </div>


               <div class="mb-3">
                    <label for="image" class="form-label">Upload New Image</label>
                    <input name="listing[image]" class="form-control"  type="file" class="form-control">
               </div>

               <div>
                    <label for="number" class="form-label">Contact Number</label>
                    <input type="number" class="form-control" type="number" required>
                  </div>

               <div class="row">
                    <div class="mb-3 col-4">
                         <label for="price">Price</label>
                         <input type="number" class="form-control" name="listing[price]" value="<%=listing.price%>" required>
                         <div class="invalid-feedback">
                              Price should be Valid                                 </div> 
                          </div>
                        </div>
                
       
                        <div class="mb-3 col-8">
                           <label for="country">Country</label>
                            <input class="form-control" type="text" name="listing[country]" value="<%=listing.country%>" required>
                            <div class="invalid-feedback">
                              Country should be Valid                  
                             </div> 
                        </div>
       
       
               </div>
                
           <div class="mb-3">
               <label for="location" class="form-label">Location</label>
               <input class="form-control" type="text" name="listing[location]"  value=" <%=listing.location%>" required>
               <div class="invalid-feedback">
                    Location should be Valid      
               </div> 
           </div>
          
           
          
          
            <button class="btn btn-dark add-btn mb-3">Edit</button>
          </form>
     </div>
</div>


   
</body>
